BasedOnStyle: LLVM

ColumnLimit: 100

IndentWidth: 4
AccessModifierOffset: -4
UseTab: Never

BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: CurrentLine

AlwaysBreakTemplateDeclarations: Yes
