.idea/
.vscode/
node_modules/
*.pyc

data/
build
.env

src/**/*.o
src/**/*.d
src/**/*.s
riscof/riscof_work
riscof/riscv-arch-test
riscof/riscv-plugins
*.vcbmem
*.backup

.cmake
*.cbp
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
